<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-4 border-end">
        <a asp-controller="home" asp-action="index" class="link text-decoration-none d-block">Registrar novedades</a>
        <a asp-controller="home" asp-action="historial" class="link text-decoration-none d-block">Ver historial</a>
        <a asp-controller="home" asp-action="login" class="link text-decoration-none d-block">Salir</a>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-8">
        <h1 class="fs-4 mb-5 text-center">Noticias</h1>
        <div class="row text-center">
            <div class="col">No hay noticias</div>
        </div>
    </div>
</div>